<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMvc:war exploded">
    <output-path>$PROJECT_DIR$/../springMvc/out/artifacts/springMvc_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springMvc/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springMvc" />
        </element>
      </element>
    </root>
  </artifact>
</component>