<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--&lt;!&ndash;自动注入，开启组件扫描&ndash;&gt;-->
    <!--<context:component-scan base-package="Bean"/>-->
    <!--&lt;!&ndash;启用aop代理功能&ndash;&gt;-->
    <!--<aop:aspectj-autoproxy/>-->
    <!--基于xml的手动注入-->
    <!--连个参数顺序排列书写-->
    <bean id="compactDisc" class="Bean.BlankDisc">
        <constructor-arg value="zzy"/>
        <constructor-arg value="ok"/>
    </bean>
    <!--结构体c引入-->
    <bean id="mediaPlayer" class="Bean.CDPlayer" c:cd-ref="compactDisc"/>
</beans>